<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="updateInventoryData()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Inventory Name</ion-label>
          <ion-input [(ngModel)]="inventoryName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Creation day</ion-label>
          <ion-datetime [(ngModel)]="inventoryDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-textarea [(ngModel)]="inventoryNote"></ion-textarea>
        </ion-item>
        <ion-button (click)="alert()" color="danger" expand="full">
          Delete all items
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
