<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scanner">
      <ion-icon name="barcode-outline"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Stock</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Export History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
